{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
    <div class="container">
        <div class="content-section">
            <div class="about" style="padding: 20px 40px; font-family:'Comic Sans MS'">
                <h5>This Application is for a Bakery business which sells variety of sweets and provides user to choose their desired Oil and Ghee to make their desired sweets within given choices. </h5>
                <br>
                <h5>This application has 2 phases as usual Admin and the Consumer. Where only admin can add variety of sweet categories and distinct sweets under each category. He can also specify variety of Oil and Ghee to make sweets.</h5>
                <h5>Admin can also view Due Orders, Deleivered Orders and also Cancelled Orders.</h5>
                <br>
                <h5>You can use the following login credentials to login as Admin and for consumer you can register yourself.. under register icon and explore the product</h5>
                <h5>Feel free to add the new types of sweets for which your place is famous for..!</h5>

                <hr>
                <h2 style="text-decoration: underline">Admin</h2>
                <p><b>Username:</b> Admin</p>
                <p><b>Password:</b> Admin@123</p>
                <br>
            </div>


            <br><br>

        </div>
    </div>


{%endblock content%}