{% extends 'store/admin_pages_base.html' %}
{% load crispy_forms_tags %}

{%block content%}
<div class="operations">
        <div class="list-group list-group-flush">
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action active">Profile</a>
            <a href="{% url 'new-type' %}" class="list-group-item list-group-item-action">Add New Sweet Type </a>
            <a href="{% url 'new-sweet' %}" class="list-group-item list-group-item-action">Add New Sweet</a>
            <a href="{% url 'new-oil' %}" class="list-group-item list-group-item-action">Add New Oil Type</a>
            <a href="{% url 'new-ghee' %}" class="list-group-item list-group-item-action">Add New Ghee Type</a>

            <div class="btn-group dropright">
                <button type="button" class="btn">
                    View Items
                </button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropright</span>
                </button>
                <div class="dropdown-menu">
                    <a class="list-group-item-action dropdown-item" href="{% url 'type-all' %}">Sweet Types</a>
                    <a class="list-group-item-action dropdown-item" href="{% url 'sweet-all' %}">Sweets</a>
                    <a class="list-group-item-action dropdown-item" href="{% url 'oil-all' %}">Oil Types</a>
                    <a class="list-group-item-action dropdown-item" href="{% url 'ghee-all' %}">Ghee Types</a>
                    <a class="list-group-item-action dropdown-item" href="{% url 'items-all' %}">All Items</a>
                </div>
            </div>
            <a href="{% url 'items-table' %}" class="list-group-item list-group-item-action">Items Table</a>
            <a href="{% url 'due-list' %}" class="list-group-item list-group-item-action">Due Orders</a>
            <a href="{% url 'deliver-list' %}" class="list-group-item list-group-item-action">Delivered Orders</a>
            <a href="{% url 'cancelled-orders' %}" class="list-group-item list-group-item-action">Cancelled Orders</a>
        </div>
    </div>

    <!-- Profile Part -->
    <div class="profile">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
            <hr>
            <div class="media-body ml-0">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.email}}</p>
            </div>
            <a class="btn btn-secondary" href="{% url 'user-orders' %}">My Orders</a>
        </div>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{u_form|crispy}}
                {{p_form|crispy}}

<!--                <button class="btn btn-danger"><a href="{% url 'password_reset' %}">change Password</a></button>-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
<style>
   button a,button a:hover{
        color: white;
    }

span i{
    padding: 3px 10px;
    border: 1px solid black;
}
.navi{
    margin-top:40px;
    display: none;
    z-index: 10;
}

.active{
    background: blue;
    color: white;
}
    
@media screen and (max-width:800px){
        .content-section{
            display: block;
        }
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        .navi{
            display: block;
        }
        .operations{
            display: none;
        }
        .media{
            display: block;
        }
        .profile{
             margin-top:40px;
        }

        .btn-group{
            color:white;
            margin: 8px 8px 8px 32px;
        }
        .dropdown-menu{
            background-color: rgb(43, 43, 43);
        }

}



</style>


{%endblock content%}

